fastapi
uvicorn
python-multipart

pydantic
pydantic-settings
SQLAlchemy

python-dotenv
PyYAML
requests

langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
chromadb
dashscope

pypdf
docx2txt
prometheus-client
